*

!.gitignore
!LICENSE
!README.md
!README_zh-cn.md

!pyproject.toml

!train_RCCNet.py
!train_RotNet.py
!train_RotNetR.py
!test_RCCNet.py
!test_RotNet.py
!test_RotNetR.py
!test_captcha.py
!server.py
!captcha_server.py
!batch_rotaing.py
!yolov5/
!yolov5/**
!yolov5/word_pick_check.py

!rotate_captcha_crack
!requirements.txt
!rotate_captcha_crack/**

__pycache__
